/* components/button/button.css */
.u-btn {
    border: 0!important;
    outline: none!important;
    text-align: center;
    user-select: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 32rpx;
    white-space: nowrap;
    vertical-align: middle;
    height: 92rpx;
    line-height: 92rpx;
    background-color: #fff;
    border-radius: 4rpx;
    box-shadow: 0 0 0 2rpx rgba(0, 0, 0, 0.1) inset;
}
.u-btn-hover {
    opacity: 0.9;
}
.u-btn-primary {
    background-color: #06a7ff!important;
    color: #fff!important;
}
.u-btn-success {
    background-color: #53db86!important;
    color: #fff!important;
}
.u-btn-warning {
    background-color: #f5a622!important;
    color: #fff!important;
}
.u-btn-info {
    background-color: #2db7f5!important;
    color: #fff!important;
}
.u-btn-danger {
    background-color: #ed3f3f!important;
    color: #fff!important;
}

.u-btn-large {
    height: 100rpx;
    line-height: 100rpx;
}
.u-btn-small {
    height: 84rpx;
    line-height: 84rpx;
}

.u-btn-inline {
    display: inline-block;
}
.u-btn-long {
    box-shadow: none;
    border-radius: 0;
}
.u-btn-circle {
    border-radius: 50rpx;
}

.u-btn-disabled {
    cursor: not-allowed;
    color: #bbbec4!important;
    opacity: 0.6;
}
.u-btn-loading {
    opacity: 0.6;
}
.u-btn-loading-icon {
    display: inline-block;
    margin-right: 20rpx;
    width: 28rpx;
    height: 28rpx;
    border-radius: 50%;
    background: none;
    border: 4rpx solid #fff;
    border-color: #fff #fff #fff transparent;
    vertical-align: middle;
    animation: btn-loading .6s linear infinite;
}
@keyframes btn-loading {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

