.u-swipe-wrap {
    position: relative;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    background: #fff;
}
.u-swipe-body {
    width: 100%;
    padding: 30rpx 40rpx;
    box-sizing: border-box;
    transition: transform 0.2s ease;
    font-size: 28rpx;
}
.u-swipe-content {
    white-space: nowrap;
    overflow: hidden;
}
.u-swipe-btn-group {
    position: absolute;
    right: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.u-swipe-btn-item {
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    white-space: nowrap;
}






