.u-modal {
    position: fixed;
    overflow: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    z-index: 1000;
    display: flex;
    outline: 0;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    transform: translateZ(2rpx);
    opacity: 0;
    visibility: hidden
}

.u-modal-show {
    visibility: visible;
    opacity: 1
}

.u-modal-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .7);
    z-index: 1000;
    transition: all .2s ease-in-out;
    opacity: 0;
    visibility: hidden
}

.u-modal-mask-show {
    opacity: 1;
    visibility: visible
}

.u-modal-main {
    width: 540rpx;
    position: relative
}

.u-modal-content {
    border-radius: 14rpx;
    padding-top: 30rpx;
    position: relative;
    background-color: #fff;
    border: 0;
    background-clip: padding-box;
    text-align: center;
    height: 100%;
    overflow: hidden
}

.u-modal-body {
    max-height: 200rpx;
    margin-bottom: 30rx;
    padding-bottom: 30rpx;
    font-size: 28rpx;
    color: #80848f;
    height: 100%;
    line-height: 1.5;
    overflow: auto
}

.u-modal-title {
    padding: 12rpx 30rpx 30rpx;
    margin: 0;
    font-size: 36rpx;
    line-height: 1;
    color: #1c2438;
    text-align: center
}

.u-modal-actions {
    margin: 0 1px
}

.u-modal-action-vertical {
    position: relative
}

.u-modal-action-vertical:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    transform: scale(.5);
    transform-origin: 0 0;
    pointer-events: none;
    box-sizing: border-box;
    border: 0 solid #e9eaec;
    border-top-width: 2rpx
}

.u-modal-grid {
    border-radius: 0 0 14rpx 14rpx;
    border-left: none
}

.u-modal-grid-item, .u-modal-grid-item-last {
    padding: 0;
    border-bottom: none
}

.u-modal-grid-item-last {
    border-right: none
}

.u-modal-btn-ok {
    color: #2d8cf0 !important
}

.u-modal-btn-loading {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20rpx;
    width: 24rpx;
    height: 24rpx;
    background: 0 0;
    border-radius: 50%;
    border: 4rpx solid #e5e5e5;
    border-color: #666 #e5e5e5 #e5e5e5 #e5e5e5;
    animation: btn-spin .6s linear;
    animation-iteration-count: infinite
}

.u-modal-btn-text {
    display: inline-block;
    vertical-align: middle
}

.u-modal-btn-icon {
    font-size: 28rpx !important;
    margin-right: 8rpx
}

@keyframes btn-spin {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(360deg)
    }
}