.u-page {
    display: block;
    width: 100%;
    height: 48rpx;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    font-size: 20rpx;
}
.u-page-prev {
    position: absolute;
    left: 10rpx;
    top: 0;
}
.u-page-next {
    position: absolute;
    right: 10rpx;
    top: 0;
}
.u-page-number {
    width: 100%;
    height: 44rpx;
    line-height:44rpx;
    margin: 0 auto;
    text-align: center;
}
.u-page-number-current {
    display: inline;
    color: #2d8cf0;
}
.u-page-pointer {
    width: 100%;
    height: 44rpx;
    line-height: 44rpx;
    margin: 0 auto;
    text-align: center;
}
.u-page-pointer-dot {
    display: inline-block;
    width: 8rpx;
    height: 8rpx;
    margin: 0 2rpx;
    border-radius: 50%;
    background: #bbbec4;
}
.u-page-pointer-dot.current{
    background: #80848f;
}
.u-page-prev .u-page-button ,.u-page-next .u-page-button {
    display: inline-block;
    margin: 0;
    height: 44rpx;
    line-height: 44rpx;
    font-size: 20rpx;
}

