/* components/tabs/index.css */

.u-tabs{
    display: flex;
    width: 100%;
    height: 84rpx;
    line-height: 84rpx;
    box-sizing: border-box;
    position: relative;
    justify-content: space-around;
    align-items: center;
    -webkit-box-align: center;
    background: #fff;
}
.u-tabs::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    transform: scale(.5);
    transform-origin: 0 0;
    pointer-events: none;
    box-sizing: border-box;
    border: 0 solid #e9eaec;
    border-bottom-width: 1px;
}
.u-tabs-scroll {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}
.u-tabs-fixed {
    position: fixed;
    top: 0;
    z-index: 2;
}